In [19]:
import pandas as pd

# create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['row1', 'row2', 'row3'])



# select rows and columns using .iloc
iloc_selection = df.iloc[2, 1]
print("Using .iloc:", iloc_selection)

# select rows and columns using .loc
loc_selection = df.loc['row2','C']
print("Using .loc:", loc_selection)

Using .iloc: 6
Using .loc: 8

In [4]:
df

      A  B  C
row1  1  4  7
row2  2  5  8
row3  3  6  9

In [24]:
import pandas as pd

# create a sample data frame
data = {'Name': ['John', 'Jane', 'Adam'],
        'Age': [30, 25, 35],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

# print the data frame
print(df)

# remove the cell at row 1 and column 'City'
df = df.drop(['City'], axis=1).drop([1], axis=0)

# print the updated data frame
print(df)

   Name  Age      City
0  John   30  New York
1  Jane   25    London
2  Adam   35     Paris
   Name  Age
0  John   30
2  Adam   35