In [1]:
import pandas as pd
import numpy as np

In [3]:
cars=pd.read_csv("vehicles.csv")

In [4]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [5]:
cars["Model"].nunique()

3608

In [7]:
# Group the data by the producer using count function 

cars.groupby(["Make"])["Make"].count()

Make
AM General                        4
ASC Incorporated                  1
Acura                           302
Alfa Romeo                       41
American Motors Corporation      22
                               ...
Volkswagen                     1047
Volvo                           717
Wallace Environmental            32
Yugo                              8
smart                            20
Name: Make, Length: 127, dtype: int64

In [10]:
# What brands has the most cars?

most_cars = cars["Make"].mode()

most_cars

0    Chevrolet
Name: Make, dtype: object

In [14]:
# Show the average CO2_Emission_Grams/Km by Brand 

#Converting Grams/Mile to Grams/Km: 1 Mile = 1.60934 Km


a = cars['CO2 Emission Grams/Mile'] = cars['CO2 Emission Grams/Mile']/1.60934
a

0        324.831736
1        424.779962
2        345.133719
3        424.779962
4        345.133719
            ...
35947    151.614948
35948    150.993575
35949    151.614948
35950    152.857693
35951    158.450048
Name: CO2 Emission Grams/Mile, Length: 35952, dtype: float64

In [17]:
b= cars.groupby('Make')['CO2 Emission Grams/Mile'].mean()
b

Make
AM General                     379.881345
ASC Incorporated               345.133719
Acura                          262.583000
Alfa Romeo                     288.287195
American Motors Corporation    314.264744
                                  ...
Volkswagen                     244.038998
Volvo                          270.796572
Wallace Environmental          408.857065
Yugo                           221.251107
smart                          153.498052
Name: CO2 Emission Grams/Mile, Length: 127, dtype: float64

In [19]:
b_frame = pd.DataFrame (b)
b_frame

                             CO2 Emission Grams/Mile
Make
AM General                                379.881345
ASC Incorporated                          345.133719
Acura                                     262.583000
Alfa Romeo                                288.287195
American Motors Corporation               314.264744
...                                              ...
Volkswagen                                244.038998
Volvo                                     270.796572
Wallace Environmental                     408.857065
Yugo                                      221.251107
smart                                     153.498052

[127 rows x 1 columns]

In [27]:
b_frame.sort_values(by=['CO2 Emission Grams/Mile'], ascending= False)

                                    CO2 Emission Grams/Mile
Make
Vector                                           651.919248
Superior Coaches Div E.p. Dutton                 552.213951
S and S Coach Company  E.p. Dutton               552.213951
Bugatti                                          542.497235
Laforza Automobile Inc                           502.012683
...                                                     ...
MINI                                             194.935105
Daihatsu                                         192.742404
Fiat                                             189.311494
smart                                            153.498052
Fisker                                           105.011992

[127 rows x 1 columns]